@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 29px 29px 32px;
  border-radius: 30px 30px 0 0;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-black-10);

  @include to($tablet) {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    column-gap: 170px;
    margin-left: 50px;
    margin-top: 7px;

    @include to($lg) {
      column-gap: 70px;
    }

    @include to($tablet) {
      column-gap: 0;
      row-gap: 10px;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  &__listItem + &__listItem {
    margin-top: 10px;
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 18px;
    line-height: 0;
  }

  &__nav,
  &__social {
    a {
      color: var(--color-black);
      transition: color var(--trans-fast);

      &:hover {
        color: var(--color-indigo);
      }
    }
  }
}
