@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.button {
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
}

.unstyled {
  padding: 0;
  color: inherit;
}

.contained-yellow {
  padding: 4px;
  background-color: var(--orange-secondary);
  color: var(--inverse-light);
  border-radius: 50%;
}

.contained-black {
  padding: 22px 40px;
  font-weight: 600;
  line-height: 21px;
  color: var(--inverse-light);
  border-radius: 20px;
  background-color: var(--inverse-dark);
  box-shadow: 0px 0px 20px var(--inverse-black-25);

  @include to($mobile) {
    padding: 22px 30px;
  }
}

.text {
  font-weight: 600;
  line-height: 21px;
  color: var(--inverse-black);
  transition: filter var(--trans-fast);

  &:hover {
    filter: drop-shadow(0px 0px 24px var(--indigo-light));
  }
}
