@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.cartItem {
  display: flex;
  column-gap: 23px;
  align-items: center;
  position: relative;
  border-radius: 30px;
  padding: 18px 28px 15px 19px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--black-10);

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    height: 136px;
    width: 146px;
    object-fit: contain;
    margin-bottom: 17px;

    @include to($mobile) {
      height: 78px;
      width: 80px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: inherit;
    line-height: 21px;
    font-weight: 500;

    @include to($mobile) {
      font-size: 15px;
      margin-bottom: 4px;
    }
  }

  &__info {
    margin-top: -15px;
  }

  &__info &__price {
    position: static;
    color: var(--gray-primary);

    @include to($mobile) {
      display: block;
    }
  }

  &__remove {
    transition: filter var(--trans-fast);
    position: absolute;
    z-index: var(--z-over);
    color: var(--red);
    font-size: 0;
    right: 28px;
    top: 18px;

    &:hover {
      filter: drop-shadow(0px 0px 16px var(--red));
    }
  }

  &__price {
    position: absolute;
    bottom: 21px;
    right: 28px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;

    @include to($mobile) {
      display: none;
      font-size: 13px;
    }
  }
}
