.notifications {
  right: 0;
  top: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.notify {
  background-color: var(--white-70);
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  max-width: 350px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px var(--black-10);
  border: 1px solid var(--dark);
  max-height: 250px;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform var(--trans-medium);
  animation: slideRight 0.3s forwards;

  @keyframes slideRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  &:global(.hide) {
    transform: translateX(0);
    animation: slideLeft 0.3s forwards;

    @keyframes slideLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__message {
    font-weight: 500;
  }
}
