.header {
  &__inner {
    padding: 11px 0 15px;
  }

  &__end,
  &__inner {
    display: flex;
    align-items: center;
  }

  &__inner {
    justify-content: space-between;
  }

  &__end {
    color: var(--color-gray-light);
    column-gap: 45px;
  }

  &__badge {
    transition: color var(--trans-fast);

    &:hover {
      color: var(--color-dark);
    }
  }
}
