.header {
  margin-bottom: 28px;
}

.productsList {
  & + & {
    margin-top: 28px;
  }
}

.main {
  margin: 25px 0 20px;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
