:root {
  /*
   === Colors ===
   */
  --color-background: oklch(94% 0 90deg);
  --color-text: oklch(23.161% 0.02 285deg);

  --color-white: oklch(100.0% 0 90deg);
  --color-black: oklch(0.0% 0 0.0deg);
  --color-dark: oklch(17.3% 0 90deg);
  --color-gray: oklch(61% 0 90deg);
  --color-gray-light: oklch(73.8% 0 90deg);
  --color-red: oklch(65.4% 0.154 22.3deg);
  --color-orange: oklch(79.5% 0.152 64.4deg);
  --color-orange-light: oklch(87.7% 0.112 78.4deg);
  --color-indigo: oklch(51% 0.23 276.97deg);

  --color-black-10: oklch(0.0% 0 0deg / 0.1);
  --color-black-25: oklch(0.0% 0 0deg / 0.25);
  --color-white-70: oklch(100.0% 0 90deg / 0.7);

  /*
   === Layers ===
  */
  --z-under: -1;
  --z-over: 1;
  --z-second-over: 2;

  /*
   === Transitions ===
  */
  --trans-fast: 0.3s ease;
  --trans-medium: 0.4s ease-in-out;
}


/* === Dark Theme === */
[data-theme='dark'] {
  --color-background: oklch(20% 0 90deg);
  --color-text: oklch(76.839% 0.02 285deg);

  --color-white: oklch(15% 0 90deg);
  --color-black: oklch(100% 0 0deg);
  --color-dark: oklch(82.7% 0 90deg);
  --color-gray: oklch(39% 0 90deg);
  --color-gray-light: oklch(76.839% 0.02 285deg);

  --color-red: oklch(44.6% 0.154 22.3deg);
  --color-orange: oklch(69.5% 0.152 64.4deg);
  --color-orange-light: oklch(78% 0.112 78.4deg);
  --color-indigo: oklch(60% 0.23 276.97deg);

  --color-black-10: oklch(95% 0 0deg / 0.1);
  --color-black-25: oklch(95% 0 0deg / 0.25);
  --color-white-70: oklch(5% 0 90deg / 0.7);
}
