@use '@/shared/assets/styles/mixins' as *;
@use '@/shared/assets/styles/variables' as *;

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-gray-light);
  margin-bottom: 20px;
}

.products {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @include to($lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include to($tablet) {
      grid-template-columns: 1fr;
    }
  }
}
