.badge {
  position: relative;
  display: inline-block;
  padding-top: 8px;

  &__count {
    position: absolute;
    top: 0;
    right: -10px;
    padding: 3px;
    display: flex;
    line-height: 1;
    aspect-ratio: 1;
    min-height: 18px;
    border-radius: 50%;
    color: var(--inverse-light);
    align-items: center;
    justify-content: center;
    background-color: var(--orange-primary);
  }
}
