.productCard {
  font-weight: 600;
  padding: 15px 22px 32px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-black-10);
  border-radius: 30px;

  &__img {
    max-height: 240px;
    object-fit: contain;

    &Wrap {
      margin-bottom: 23px;
      height: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-size: inherit;
  }

  &__infoTop,
  &__infoBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__infoTop {
    margin-bottom: 25px;
  }

  &__price {
    color: var(--color-orange);
    flex-shrink: 0;
  }

  &__rate {
    display: flex;
    align-items: center;
    color: var(--color-gray-light);
    column-gap: 10px;
  }
}
